
div
 {
 
#amp-header {
  
         Visibility:hidden 
           }

.footerText {
    Visibility:hidden 
    
    }
    


#exportButton {
    Visibility:hidden 
     }

 #demo{

    Visibility:hidden 
        }

#backButton {
     Visibility:hidden 
   }

 align-content: left;
}
